<div class="text-start text-wrap">
    
    <ul class="list-group list-group-flush">
        <li class="list-group-item p-3">
            <div class="row">
                <div class="col-3"><br><b>Languages</b></div>
                <div class="col-9"><br>Python, PostgreSQL, T-SQL, Javascript, C++, C, GO, HTML, CSS</div>
            </div>
        </li>
        <li class="list-group-item p-3">
            <div class="row">
                <div class="col-3"><b>Signficant Libraries</b></div>
                <div class="col-9"> Django, Pandas, Numpy, Scikit-Learn, Seaborn, Matplotlib, HTMX, </div>
            </div>
        </li>
        <li class="list-group-item p-3">
            <div class="row">
                <div class="col-3"><b>General Skills and Technologies</b></div>
                <div class="col-9">Linux, Windows, Excel, Power BI, Jira (Agile Development),Software Development, Data Analysis, Data Cleansing, Pipeline Development, Restful API's, Database Design, Team Management</div>
            </div>
        </li>
    </ul>
</div>