<div class="text-start text-wrap">
    <div class="preTitlePadding">
        <ul class="list-group list-group-flush ">
            <li class="list-group-item infoList">
                <div class="row">
                    <div class="col-3">
                        <h5><b>PIRCH</b></h5>
                        <h6><i>Data Analyst</i></h6>a
                        10/2021 - Present
                    </div>
                    <div class="col-9">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item infoList">
                                Initiated the creation of a set of dashboards to prioritize decreasing the amount of inventory on hand and prioritizing sales of high velocity products, saving the company on average 10 million USD per year on space and inventory.
                            </li>
                            <li class="list-group-item infoList">
                                Engineered Data Pipelines with python to ingest product information from over 300 outside vendors.
                            </li>
                            <li class="list-group-item infoList">
                                Restructured SQL database for a new internal system, achieving faster query times of up to 80%.
                            </li>
                            <li class="list-group-item infoList">
                                Made use of linear regression and predictive models for reporting and forecasting. 
                            </li>
                            <li class="list-group-item infoList">
                                Implemented a random forest model to categorize all current products for visibility in the sales system, increasing sales of aging products by 7 million USD in its first 3 months of utilization.
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="list-group-item infoList">
                <div class="row">
                    <div class="col-3">
                        <h5><b>Waterstone Faucets</b></h5>
                        <h6><i>CAD Drafter</i></h6>
                        10/2019 - 10/2021
                    </div>
                    <div class="col-9">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item infoList">
                                Designed mechanical drafts and supported the engineering team on altering 3D models.
                            </li>
                            <li class="list-group-item infoList">
                                Overhauled JavaScript, HTML, and CSS for functionality on the company website to better display product designs. Increasing sales in lower sold products by up to 50%.
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="list-group-item infoList">
                <div class="row">
                    <div class="col-3">
                        <h5><b>Pacific Sales</b></h5>
                        <h6><i>Customer Service Supervisor</i></h6>
                        10/2018 - 10/2019
                    </div>
                    <div class="col-9">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item infoList ">
                                Led Inventory and Operations department, addressing urgent client demands and system malfunctions.
                            </li>
                            <li class="list-group-item infoList">
                                Managed store projects and maintained one of the top 5 spots in loss prevention and customer satisfaction.
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="list-group-item infoList">
                <div class="row">
                    <div class="col-3">
                        <h5><b>Pacific Sales</b></h5>
                        <h6><i>Customer Service Representative</i></h6>
                        11/2014 - 10/2018
                    </div>
                    <div class="col-9">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item infoList ">
                                Worked with customers so solve problems and process transactions.
                            </li>
                            <li class="list-group-item infoList">
                                Worked as backup for the CSR Supervisor, handling issues when they were out and filling in where needed.
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>