{% extends "base.html" %}

{% block title %}
    MyHomepage
{% endblock %}

{% block body %}
<div class="todoPage">
    <div class="container" style="height: 100vh">
        <div class="row ">
            <div class="col-3">TEST</div>
            <div class="col-6">
                <div class="row mx-auto ">
                    <div class="border-bottom border-secondary border-2 todoMain">
                        <h1>
                            Todo App
                        </h1>
                    </div>
                    <div class="todoList">
                        <ul>
                            <li>Coffee</li>
                            <li>Tea</li>
                            <li>Milk</li>
                            <li>Coffee</li>
                            <li>Tea</li>
                            <li>Milk</li><li>Coffee</li>
                            <li>Tea</li>
                            <li>Milk</li><li>Coffee</li>
                            <li>Tea</li>
                            <li>Milk</li><li>Coffee</li>
                            <li>Tea</li>
                            <li>Milk</li><li>Coffee</li>
                            <li>Tea</li>
                            <li>Milk</li><li>Coffee</li>
                            <li>Tea</li>
                            <li>Milk</li><li>Coffee</li>
                            <li>Tea</li>
                            <li>Milk</li><li>Coffee</li>
                            <li>Tea</li>
                            <li>Milk</li><li>Coffee</li>
                            <li>Tea</li>
                            <li>Milk</li><li>Coffee</li>
                            <li>Tea</li>
                            <li>Milk</li>
                          </ul>  

                    </div>
                </div>
            </div>
            <div class="col-3">tests</div>
        </div>
    </div>
</div>
{% endblock %}