{% extends "base.html" %}

{% block title %}
    MyHomepage
{% endblock %}

{% block body %}
<div class="todoPage">
    <div class="container" style="height: 100vh">
        <div class="row ">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="row mx-auto ">
                    <div class="border-bottom border-secondary border-2 todoMain">
                        <div class="row">
                            <div class="col-4 mb-2"><h2>To Do App</h2></div>
                            <div class="col-8">
                                <form hx-post="addTask/"
                                hx-trigger="click"                             
                                hx-target="#todoList"
                                hx-swap="innerHTML" >
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input name="taskName" type="text" class="form-control" placeholder="New Task">
                                        <button
                                        class="btn btn-outline-secondary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="todoList" class="todoList">

                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>
{% endblock %}