.todoPage {
    background: linear-gradient(90deg, rgba(204,204,217,1) 0%, rgba(255,255,255,1) 50%, rgba(204,204,217,1) 100%);
}

.todoMain {
    padding-top: 13vh;
    /* Solve the slight border, since about 10px is allocated to html and body tag. */
    height: calc(20vh - 10px); 
}

.todoList {
    height: 80vh;
    margin-top: 10px;
    overflow: scroll;
    /* background: pink; */
}