.todoPage {
    background: linear-gradient(90deg, rgba(204,204,217,1) 0%, rgba(255,255,255,1) 50%, rgba(204,204,217,1) 100%);
}

.todoMain {
    margin-top: 10vh;
}

.todoList {
    height: 80vh;
    margin-top: 10px;
    overflow: scroll;
    /* background: pink; */
}