/* https://fonts.google.com/specimen/Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

#banner {
    color: black;
    background-color: #dbcbd8;
    background-image: linear-gradient(300deg, #cbcbdc 0%, #2f5b91 75%);
    height: 500px;
    width: 100%;
    min-width: 500px;
    max-width: 2000px;
    text-align: center; 
    position: relative;
    margin: auto;
    box-shadow: 0 -450px 700px -450px   rgba(255, 255, 255, 0.5) inset;
}

.pfp {
    /* margin:auto; */
    position: relative; 
    height: 400px;
    top: 50px;
    width: auto;
    border-radius: 100%;   
    box-shadow: -1em 0 4em #2f5b91, -1em 0 4em #cbcbdc;
}

.intro {
    /* The Intro box of me. */
    position: relative; 
    margin: auto;
    /* top:20px; */
    height: 500px;
}

.intro-about-me {
    position: relative;
    text-align: center;
    margin:0;
    padding:0;
    top: 15%;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.me-buttons{
    padding-top: 10px;
}

.glass-bg {
    position: relative;
    top:10%;
    min-height: 300px;
    max-height: 400px;
    color: black;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(25, 23, 44, 0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 30px;

}


.skill-section {
    margin-top: 50px;
    height: 400px;
}

.experience {
    margin-top: 25px;
    margin-bottom: 50px;
}

.about-me {
    margin-bottom: 100px;
}


.am-block {
    height: 200px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    overflow-y: scroll;    
}



.nav {
    height: 3vh;
    box-shadow: 0 4px 20px -20px whitesmoke inset !important;
} 

.symbol-box {
    width: 50px;
    height: 55px;
}


/* Reconfigure bootstrap */
.btn-secondary {
    width: 40px;
    background-color:orange;
    border-color: orange;
    /* 
    height:45px; */
    text-align: center;
    align-items: center;
    border-radius: 30px;
}

/* Vue stuff */
[v-cloak] {
    display: none;
}

@media (max-width: 992px) { 
    .nav {
        height: 100%;
    }
    .skill-section {
        height: 100%;
    }
    
    #banner {
        height: 800px;
    }
    
    .pfp {
        
        top:auto;
        position: relative;
        bottom:350px;
        /* margin:auto; */
        height: 350px;
        width: auto;
        
        border-radius: 100%;   
        box-shadow: -1em 0 4em #2f5b91, -1em 0 4em #cbcbdc;
    }

    .me-buttons{
        padding-top: 10px;
    }

    .glass-bg {
        position: relative;
        top: 400px;
        max-height: 400px;
        min-height: 350px;
    }

}

/* For Smaller Screen size logic.*/
@media (max-width: 768px) {

}