body {
    /* background: rgb(255,255,255); */
    background: radial-gradient(circle, rgba(255,255,255,1) 50%, rgba(204,204,217,1) 100%);
}
.todoMain {
    padding-top: 14vh;
    /* Solve the slight border, since about 10px is allocated to html and body tag. */
    height: calc(20vh - 10px); 
}

.nav {
    height: 5vh;
}

.todoList {
    height: 75vh;
    margin-top: 10px;
    overflow: scroll;
    /* background: pink; */
}

.loginBox {
    background-color: rgba(204,204,217,1);
    margin: auto;
    margin-top: 200px;
    width: 50%;
    height: 60%;
    box-shadow: 1px 3px 3px #565c75;
    padding: 50px;
}

.loginBox > h2 {
    color: #292a30;
}

.notifyBox {
    background-color: rgba(204,204,217,1);
    margin: auto;
    margin-top: 200px;
    width: 50%;
    height: 30%;
    box-shadow: 1px 3px 3px #565c75;
    padding: 50px;
}

.notifyBox > h2 {
    color: #292a30;
}