/* .centeredColumn {
    height: 95vh; 
    box-shadow: 1px 5px 5px black;
} 
*/

.mainBackground {
    background-image: linear-gradient(#556366, #292a30)!important;
    /* background-size:  100% 100%; */
}
.nav {
    height: 5vh;
}

.centeredColumn {
    /* height: 95vh;  */
    overflow-y: scroll;
    box-shadow: 1px 5px 5px black;  
}    

.leftCol {
    color: white;
    text-align: center;
    background-color: #2e3039;
    min-height: 95vh;
    bottom: 1px;
}    

.leftCol ul {
    padding: 20px;
}

.leftCol li {
    color: white;
    background-color: #2e3039;
    border-color: #565c75 ;
}

.bLine {
    padding-bottom: 40px;
    border-bottom: 1px solid #565c75;
}

.leftCol img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.myResources {
    text-align: left;
    padding-top: 20px;
}

.myResources  h4{
    padding-left: 35px;
}

/* Right Column */


.rightCol {
    color: black;
    background-color: whitesmoke !important;
    /* height: 95vh; */
    width: 100%;
    
}

.rightCol h2 {
    color: #2e3039; /* Same gray as rightCol */
}


.infoList {
    background-color: whitesmoke !important;
}

.preTitlePadding {
    margin-top: 10px;
}

@media (max-width: 992px) { 
    .leftCol img {
        width: 150px;
        height: 150px;
    }
        
    .nav {
        height: 100%;
    }
}

/* For Smaller Screen size logic.*/
@media (max-width: 768px) {
    .leftCol {
        min-height: 100%;
    }    



    .leftCol img {
        width: 250px;
        height: 250px;
    }


    .rightCol {
        min-height: 100%;
        overflow-y:visible;
    }
    .mainBackground {
        background-image: linear-gradient(#fff, #fff)!important; /* Solve a bug for the background... */
        /* background-size:  100% 100%; */
    }
}